@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body {
    background-color: #D5E1EF;
    padding-top: 5%; 
    padding-left: 40%;
}
.principal {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background-color: #FFFFFF;
    width: 300px;
    height: 500px;
    border-radius: 20px;  
}
.secundario{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    width: 80%;
    height: 30%;  
}
#texto1{
    font-family: 'Outfit';
    font-style: normal;
    font-size: 19px;
    color: #1D2C40;
    text-align:center;
}
#texto2{
    font-family: 'Outfit';
    font-style: normal;
    font-size: 14px;
    color: #7C8083;
    text-align:center;
}
img{
    justify-content: center;
    border-radius: 10px;
    width: 280px;
    height: 280px;
}